{$layUI}
<script>
    layui.use('form', function() {
    });
</script>

<style>
    div{
        margin-top:20px;
    }
</style>
<form class="layui-form layui-form-pane" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">广告商名称</label>
        <div class="layui-input-inline">
            <input name="name" value="" lay-verify="required" placeholder="广告商名称" class="layui-input" type="text">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">广告商说明</label>
        <div class="layui-input-inline">
            <textarea  name="description" placeholder="请输入广告商说明" class="layui-textarea"></textarea>
        </div>
    </div>
</form>