{$layUI}
<blockquote class="layui-elem-quote">广告商管理</blockquote>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="edit">查看&编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>

</script>
<script type="text/html" id="barDemo1">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="businessLookAd" id="businessLookAd">查看广告</a>
    <a class="layui-btn layui-btn-xs" lay-event="businessAddAd" id="businessAddAd">新增广告</a>
</script>

<button class="layui-btn layui-btn-danger" id="getCheckData" data-type="getCheckData">删除所选</button>
<button class="layui-btn" id="addBusiness" >新增广告商</button>

<table id="dataTable" lay-filter="data-manage"></table>

<script>
    //一般直接写在一个js文件中
    layui.use(['table','form' ], function(){
        var layer = layui.layer;
        var table = layui.table;
        $ = layui.jquery;


        //表单操作
        table.render({
            elem: '#dataTable'
            ,height: 'auto'
            ,url: "{:U('Business/lists')}" //数据接口
            ,page: false //开启分页
            ,cols: [[ //表头
                {field: 'left', type:'checkbox'}
                ,{type:'numbers',title: '序号',width:60}
                //,{field: 'id', title: 'id','width':80,sort:'true'}
                ,{field: 'name', title: '广告商名称',sort:'true'}
                ,{field: 'description', title: '广告商说明'}
                ,{field: 'create_time', title: '创建时间','width':250,sort:'true'}
                ,{fixed: 'right', title: '广告商管理', align:'center', width:150,toolbar: '#barDemo'}
                ,{fixed: 'right', title: '广告管理', align:'center', width:200,toolbar: '#barDemo1'}
            ]]
        });
        table.on('tool(data-manage)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                ,layEvent = obj.event; //获得 lay-event 对应的值
            if(layEvent === 'add'){
                layer.open({
                    type: 2 //此处以iframe举例
                    ,title: '新增广告商'
                    ,area: ['420px', '500px']
                    ,shade: 0.5
                    ,maxmin: true
                    ,offset: [
                    ]
                    ,content: "{:U('Business/add')}"
                    ,btn: ['确定', '取消'] //只是为了演示
                    ,yes: function(layero){
                        var index = "#layui-layer-iframe" + layero;
                        var input = $(index).contents();
                        var formData = $(input).find("form").serialize();

                        $.ajax({
                            type: "post",
                            url: "{:U('Business/add')}",
                            data: formData,
                            dataType: "json",
                            success: function(data){
                                if (data.status > 0) {
                                    layer.closeAll();
                                    location.reload();
                                }
                                layer.msg(data.msg);
                            }
                        });
                    }
                    ,btn2: function(){
                        layer.closeAll();
                    }
                    ,zIndex: layer.zIndex //重点1
                    ,success: function(layero){

                    }
                });
            } else if(layEvent === 'del'){
                layer.confirm('确认是否删除?', function(index){
                    $.ajax({
                        type: "post",
                        url: "{:U('Business/del')}",
                        data: {id: data.id},
                        dataType: "json",
                        success: function(data){
                            if (data.status > 0) {
                                obj.del(); //删除对应行（tr）的DOM结构
                            }
                            layer.msg(data.msg);
                        }
                    });
                    layer.close(index);
                    //向服务端发送删除指令
                });
            } else if(layEvent === 'edit') {
                layer.open({
                    type: 2 //此处以iframe举例
                    , title: '修改广告商信息'
                    , area: ['420px', '500px']
                    , shade: 0.5
                    , maxmin: true
                    , offset: []
                    , content: "{:U('Business/edit')}" + "?id=" + data.id
                    , btn: ['确定', '取消'] //只是为了演示
                    , yes: function (layero) {
                        var index = "#layui-layer-iframe" + layero;
                        var input = $(index).contents();
                        var formData = $(input).find("form").serialize();
                        $.ajax({
                            type: "post",
                            url: "{:U('Business/edit')}",
                            data: formData,
                            dataType: "json",
                            success: function (data) {
                                if (data.status > 0) {
                                    layer.close(layero);
                                    location.reload();
                                }
                                layer.msg(data.msg);
                            }
                        });
                    }
                    , btn2: function (layero) {
                        layer.close(layero);
                    }
                    , zIndex: layer.zIndex //重点1
                });
            }else if(layEvent === 'businessLookAd') {  // 查看广告列表
                  window.location.href="{:U('Ad/index')}"+"?business_id=" + data.id;
            }else if(layEvent === 'businessAddAd') { //广告新增
                 window.location.href="{:U('Ad/add')}"+"?business_id=" + data.id;
             }
        });


        //新增
        $("#addBusiness").on('click', function () {
            layer.open({
                type: 2 //此处以iframe举例
                , title: '新增广告商'
                , area: ['420px', '500px']
                , shade: 0.5
                , maxmin: true
                , offset: []
                , content: "{:U('Business/add')}"
                , btn: ['确定', '取消'] //只是为了演示
                , yes: function (layero) {
                    var index = "#layui-layer-iframe" + layero;
                    var input = $(index).contents();
                    var formData = $(input).find("form").serialize();

                    $.ajax({
                        type: "post",
                        url: "{:U('Business/add')}",
                        data: formData,
                        dataType: "json",
                        success: function (data) {
                            if (data.status > 0) {
                                layer.closeAll();
                                location.reload();
                            }
                            layer.msg(data.msg);
                        }
                    });
                }
                , btn2: function () {
                    layer.closeAll();
                }
                , zIndex: layer.zIndex //重点1
                , success: function (layero) {

                }
            });
        });
        //监听表格复选框选择
        table.on('checkbox(data-manage)', function(obj){
            //layer.alert(JSON.stringify(obj));
            //console.log(obj);
        });

        //得到复选框数据
        $('#getCheckData').on('click', function(){
             var checkStatus = table.checkStatus('dataTable')
                 ,data = checkStatus.data;
                 data=JSON.stringify(data);
                    //layer.msg(data+data[0].id);
                layer.alert(data);
            });

        $('.demoTable .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>