<style>
	.layui-icon{
		margin: 1.1em auto;
		margin-right: 5px;
	}
</style>
<div class="layui-side layui-bg-black">
	<div class="layui-side-scroll">
		<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
		<ul class="layui-nav layui-nav-tree"  lay-filter="test">
			<li class="layui-nav-item">
				<a href="{:U('Business/index')}"><i class="layui-icon" style="font-size: 18px; color: #fff;">&#xe613;</i>  广告商管理</a>
			</li>
			<li class="layui-nav-item">
				<a href="{:U('Ad/index')}"><i class="layui-icon" style="font-size: 20px; color: #fff;">&#xe634;</i> 广告管理</a>
			</li>
			<li class="layui-nav-item">
				<a href="{:U('Area/index')}"><i class="layui-icon" style="font-size: 22px; color: #fff;">&#xe715;</i>区域/场景管理</a>
			</li>
			<li class="layui-nav-item">
				<a class="" href="{:U('Ap/index')}"><i class="layui-icon" style="font-size: 24px; color: #fff;">&#xe62d;</i>AP管理</a>
			</li>
			<li class="layui-nav-item">
				<a href="{:U('AdPosition/index')}"><i class="layui-icon" style="font-size: 20px; color: #fff;">&#xe632;</i>上刊广告位管理</a>
			</li>
			<li class="layui-nav-item">
				<a href="{:U('AdType/index')}"><i class="layui-icon" style="font-size: 24px; color: #fff;">&#xe638;</i>上刊类型管理</a>
			</li>
			<li class="layui-nav-item">
				<a href="{:U('User/index')}"><i class="layui-icon" style="font-size: 22px; color: #fff;">&#xe612;</i>用户管理</a>
			</li>
		</ul>
	</div>
</div>