<div class="layui-side layui-bg-black">
	<div class="layui-side-scroll">
		<!-- 左侧导航区域（可配合layui已有的垂直导航） -->
		<ul class="layui-nav layui-nav-tree"  lay-filter="test">
			<li class="layui-nav-item">
				<a href="{:U('Business/index')}">广告商管理</a>
			</li>

			<li class="layui-nav-item">
				<a href="{:U('Area/index')}">区域/场景管理</a>
			</li>

			<li class="layui-nav-item">
				<a class="" href="{:U('Ap/index')}">AP管理</a>
			</li>

			<li class="layui-nav-item">
				<a href="{:U('User/index')}">用户管理</a>
			</li>

			<li class="layui-nav-item">
				<a href="{:U('Ad/index')}">广告管理</a>
			</li>
		</ul>
	</div>
</div>