{$layUI}
<blockquote class="layui-elem-quote">AP设备管理</blockquote>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-event="add">增加</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<button class="layui-btn" data-type="getCheckData">获取选数据</button>
<table id="ap" lay-filter="ap_manage" lay-even lay-skin="line" lay-size="lg"></table>

<script>
    //一般直接写在一个js文件中
    layui.use(['form', 'table','layer'], function(){
        var layer = layui.layer
        var table = layui.table, $ = layui.jquery;
        //第一个实例
        table.render({
            elem: '#ap'
            ,height: 'auto'
            ,url: "{:U('Ap/lists')}" //数据接口
            ,page: false //开启分页
            ,cols: [[ //表头
                {field: 'left', type:'checkbox'}
                ,{field: 'name', title: '设备名称',sort:'true'}
                ,{field: 'status', title: '设备状态',sort:'true'}
                ,{field: 'mac', title: 'MAC地址',sort:'true'}
                ,{field: 'ap_area_id', title: '所属区域',sort:'true'}
                ,{field: 'longitude', title: '经度'}
                ,{field: 'latitude', title: '纬度'}
                ,{fixed: 'right', title: '操作', align:'center', width:200,toolbar: '#barDemo'}
            ]]
        });

        //表单操作
        table.on('tool(ap_manage)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                ,layEvent = obj.event; //获得 lay-event 对应的值
            if(layEvent === 'add'){
                layer.open({
                    type: 2 //此处以iframe举例
                    ,title: '增加AP'
                    ,area: ['420px', '500px']
                    ,shade: 0
                    ,maxmin: true
                    ,offset: [
                    ]
                    ,content: "{:U('Ap/add')}"
                    ,btn: ['确定', '放弃'] //只是为了演示
                    ,yes: function(layero){
                        var index = "#layui-layer-iframe" + layero;
                        var input = $(index).contents();
                        var formData = $(input).find("form").serialize();

                        $.ajax({
                            type: "post",
                            url: "{:U('Ap/add')}",
                            data: formData,
                            dataType: "json",
                            success: function(data){
                                if (data.status > 0) {
                                    layer.closeAll();
                                }
                                layer.msg(data.msg);
                                location.reload();
                            }
                        });
                    }
                    ,btn2: function(){
                        layer.closeAll();
                    }
                    ,zIndex: layer.zIndex //重点1
                    ,success: function(layero){

                    }
                });
            } else if(layEvent === 'del'){
                layer.confirm('真的删除?', function(index){
                    $.ajax({
                        type: "post",
                        url: "{:U('Ap/del')}",
                        data: {id: data.id},
                        dataType: "json",
                        success: function(data){
                            if (data.status > 0) {
                                obj.del(); //删除对应行（tr）的DOM结构
                            }
                            layer.msg(data.msg);
                        }
                    });
                    layer.close(index);
                    //向服务端发送删除指令
                });
            } else if(layEvent === 'edit'){
                layer.open({
                    type: 2 //此处以iframe举例
                    ,title: '修改AP信息'
                    ,area: ['420px', '500px']
                    ,shade: 0.8
                    ,maxmin: true
                    ,offset: [
                    ]
                    ,content: "{:U('Ap/edit')}"+"?id=" + data.id
                    ,btn: ['确定', '放弃'] //只是为了演示
                    ,yes: function(layero){
                        var index = "#layui-layer-iframe" + layero;
                        var input = $(index).contents();
                        var formData = $(input).find("form").serialize();
                        $.ajax({
                            type: "post",
                            url: "{:U('Ap/edit')}",
                            data: formData,
                            dataType: "json",
                            success: function(data){
                                if (data.status > 0) {
                                    layer.close(layero);
                                }
                                layer.msg(data.msg);
                                location.reload();
                            }
                        });
                    }
                    ,btn2: function(layero){
                        layer.close(layero);
                    }
                    ,zIndex: layer.zIndex //重点1
                });
            }
        });
        //监听表格复选框选择
        table.on('checkbox(ap_manage)', function(obj){
           // console.log(obj);
            data=JSON.stringify(obj);
            layer.msg("数据："+data);
        });
        //获取选中数据
        var $ = layui.$, active = {
            getCheckData: function () { //获取选中数据
                var checkStatus = table.checkStatus('ap_manage')
                    , data = checkStatus.data;
                layer.alert(JSON.stringify(data));
            }
        };
        $('#layerDemo .layui-btn').on('click', function(){
            var othis = $(this), method = othis.data('method');
            active[method] ? active[method].call(this, othis) : '';
        });

    });
</script>