<!--
<iframe class="larry-iframe" data-id='0' name="ifr_0" id='ifr0' src="Index/main.html"></iframe>
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
    <meta name="description"content="fyrz.AD Version:1.01" />
    <meta name="Author" content="梁大波" />
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="Shortcut Icon" href="__PUBLIC__/favicon.ico" />
    <!-- load css -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/common/bootstrap/css/bootstrap.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/common/layui/css/layui.css" media="all">
    <!-- <link rel="stylesheet" type="text/css" href="/common/css/larry.css" media="all"> 基于flex布局 未完待续-->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/common/css/global.css" media="all">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/common/css/font_bmg.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/common.css" media="all">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/main.css" media="all">
</head>
<body>
<div class="larry-grid larry-wrapper">
    <div class="row" id="infoSwitch">
        <blockquote class="layui-elem-quote col-md-12 head-con">
            <div>尊敬的admin<span id="weather"></span></div>
            <i class="larry-icon larry-guanbi close" id="closeInfo"></i>
        </blockquote>
    </div>
    <div class="row shortcut" id="shortcut">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 ">
            <section class="panel clearfix">
                <div class="symbol shortcut-bg1"> <i class="larry-icon larry-daishenhe1" data-icon="larry-daishenhe1"></i></div>
                <div class="value">
                    <a data-href="temp.html">
                        <h1 id="count1">10</h1>
                    </a>
                    <p>待审的广告</p>
                </div>
            </section>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 ">
            <section class="panel">
                <div class="symbol shortcut-bg2"> <i class="larry-icon larry-fabu2" data-icon="larry-fabu2"></i></div>
                <div class="value">
                    <a data-href="temp.html">
                        <h1 id="count2">26</h1>
                    </a>
                    <p>我发布的广告</p>
                </div>
            </section>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 ">
            <section class="panel">
                <div class="symbol shortcut-bg3"> <i class="larry-icon larry-lanmuguanli" data-icon="larry-lanmuguanli"></i></div>
                <div class="value">
                    <a data-href="temp.html">
                        <h1 id="count3">15</h1>
                    </a>
                    <p>网站栏目管理</p>
                </div>
            </section>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 ">
            <section class="panel">
                <div class="symbol shortcut-bg4"> <i class="larry-icon larry-kehuliebiao" data-icon="larry-kehuliebiao"></i></div>
                <div class="value">
                    <a data-href="temp.html">
                        <h1 id="count4">60</h1>
                    </a>
                    <p>广告商列表</p>
                </div>
            </section>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 ">
            <section class="panel">
                <div class="symbol shortcut-bg5"> <i class="larry-icon larry-liuyan" data-icon="larry-liuyan"></i></div>
                <div class="value">
                    <a data-href="temp.html">
                        <h1 id="count4">105</h1>
                    </a>
                    <p>会广告商留言管理</p>
                </div>
            </section>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2 ">
            <section class="panel">
                <div class="symbol shortcut-bg6"> <i class="larry-icon larry-a157" data-icon="larry-a157"></i></div>
                <div class="value">
                    <a data-href="temp.html">
                        <h1 id="count4">10</h1>
                    </a>
                    <p>广告预览</p>
                </div>
            </section>
        </div>
    </div>
    <!-- 首页信息 -->
    <div class="row system">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <section class="panel">
                <header class="panel-heading bm0">
                    <span class='span-title'>系统概览</span>
                    <span class="tools pull-right"><a href="javascript:;" class="iconpx-chevron-down"></a></span>
                </header>
                <div class="panel-body">
                    <div class="larry-table">
                        <table class="layui-table larry-table-info">
                            <colgroup>
                                <col width="150">
                                <col>
                            </colgroup>
                            <tbody>
                            <tr>
                                <td><span class="tit">系统名称:</span></td>
                                <td><a href="#" title="泛亚.AD广告投放系统" class="tit" target="_blank"><span class="info">泛亚.AD广告投放系统</span></a></td>
                            </tr>
                            <tr>
                                <td><span class="tit">版本信息:</span></td>
                                <td><span class="info iframe"> V01_UTF8_1.01 ( iframe版 )</span></td>
                            </tr>
                            <tr>
                                <td><span class="tit">公司名称</span></td>
                                <td>贵州泛亚信通网络科技有限公司</td>
                            </tr>
                            <tr>
                                <td><span class="tit">官网地址:</span></td>
                                <td><span class="info"><a href="#" class="official" target="_blank">XXX</a></span></td>
                            </tr>
                            <tr>
                                <td><span class="tit">研发项目组</span></td>
                                <td>
                                    <a href="#" target="_blank" class="layui-btn layui-btn-small layui-btn-danger">去点个赞！</a>
                                    <a href="#" target="_blank" class="layui-btn layui-btn-small">技术QQ群</a> <em class='qq-add'>FY技术保障平台</em>
                                </td>
                            </tr>
                            <tr>
                                <td><span class="tit">网站域名:</span></td>
                                <td>XXX</td>
                            </tr>
                            <tr>
                                <td><span class="tit">当前登陆用户:</span></td>
                                <td>admin</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <!-- 日志更新 -->
            <section class="panel">
                <header class="panel-heading bm0">
                    <span class='span-title'>更新日志</span>
                    <span class="tools pull-right"><a href="javascript:;" class="iconpx-chevron-down"></a></span>
                </header>
                <div class="panel-body">
                    <div class="update-log">
                        <h2>V01_UTF8_1.01 ( iframe版 ) 2017-11-21</h2>
                        <ul>
                            <li>#<p>txxx</p></li>
                            <li>#<p>txxx</p></li>
                            <li>#<p>txxx</p></li>
                            <li>#<p>txxx</p></li>
                            <li>#<p>txxx</p></li>
                            <li>#<p>txxx</p></li>
                            <li>#<p>txxx</p></li>
                            <li>#<p>txxx</p></li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <section class="panel">
                <header class="panel-heading bm0">
                    <span class='span-title'>数据统计</span>
                    <span class="tools pull-right"><a href="javascript:;" class="iconpx-chevron-down"></a></span>
                </header>
                <div class="panel-body larry-seo-box">
                    <div class="larry-seo-stats" id="larry-seo-stats"></div>
                </div>
            </section>

            <section class="panel">
                <header class="panel-heading bm0">
                    <span class='span-title'>最新文档</span>
                    <span class="tools pull-right"><a href="javascript:;" class="iconpx-chevron-down"></a></span>
                </header>
                <div class="panel-body">
                    <form class="layui-form larry-document" action="" method="post">
                        <table class="layui-table">
                            <colgroup>
                                <col>
                                <col width="100">
                                <col width="120">
                                <col width="100">
                            </colgroup>
                            <thead>
                            <tr>
                                <th>文章标题</th>
                                <th>作者</th>
                                <th>发布时间</th>
                                <th>审核</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td><a href="#">网站优化需要分析哪些数据</a></td>
                                <td>李光杰</td>
                                <td>2017-11-25</td>
                                <td class="layui-form-item">
                                    <input type="checkbox" name="close" lay-skin="switch" lay-text="ON|OFF">
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#">网站优化需要分析哪些数据</a></td>
                                <td>郭梁</td>
                                <td>2017-11-25</td>
                                <td class="layui-form-item">
                                    <input type="checkbox" name="close" lay-skin="switch" lay-text="ON|OFF">
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#">网站优化需要分析哪些数据</a></td>
                                <td>梁大波</td>
                                <td>2017-11-25</td>
                                <td class="layui-form-item">
                                    <input type="checkbox" name="close" lay-skin="switch" lay-text="ON|OFF">
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#">网站优化需要分析哪些数据</a></td>
                                <td>吴静</td>
                                <td>2017-11-25</td>
                                <td class="layui-form-item">
                                    <input type="checkbox" name="close" lay-skin="switch" lay-text="ON|OFF">
                                </td>
                            </tr>
                            <tr>
                                <td><a href="#">网站优化需要分析哪些数据</a></td>
                                <td>XXX</td>
                                <td>2017-11-25</td>
                                <td class="layui-form-item">
                                    <input type="checkbox" name="close" lay-skin="switch" lay-text="ON|OFF">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </section>
        </div>

    </div>

</div>
<!-- 加载js文件 -->
<script type="text/javascript" src="__PUBLIC__/common/layui/layui.js"></script>
<script type="text/javascript" src="__PUBLIC__/common/js/jquery-3.2.0.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/common/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/common/jsplugin/jquery.leoweather.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/common/jsplugin/echarts.min.js"></script>
<!-- 引入当前页面js文件 -->
<script type="text/javascript" src="__PUBLIC__/home/js/common.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/js/main.js"></script>
</body>
</html>