{$layUI}
<script>
    layui.use('form', function() {
    });
</script>
<style>
    div{
        margin-top:20px;
    }
</style>
<form class="layui-form layui-form-pane" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">位置</label>
        <div class="layui-input-inline">
            <input name="name" value="{$data.name}" lay-verify="required" placeholder="位置" class="layui-input" type="text">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">标识符</label>
        <div class="layui-input-inline">
            <input name="identifier" value="{$data.identifier}" lay-verify="required" placeholder="标识符" class="layui-input" type="text">
        </div>
        <input type="hidden" name="id" value="{$data.id}">
    </div>
</form>