<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title></title>
	<link rel="stylesheet" href="__PUBLIC__/common/frame/layui/css/layui.css">
</head>
<body class="body">

<blockquote class="layui-elem-quote">
	<legend class="">场景管理 </legend>
</blockquote>

<volist name="area" id="vo">
	<ul>
	<li><neq name="vo.count" value="1">
		{$vo.text_indent}</neq>{$vo.name}
		<a data-href="{:U('/Home/Area/add',array('id'=>$vo['id']))}"  data-id = "{$vo.id}" class="add">增加</a>
		<a data-href="{:U('/Home/Area/del',array('id'=>$vo['id']))}" data-id = "{$vo.id}" class="del">删除</a>
		<a data-href="{:U('/Home/Area/edit',array('id'=>$vo['id']))}" data-id = "{$vo.id}" class="edit">修改</a>
	</li>
	</ul>
</volist>


<script type="text/javascript" src="__PUBLIC__/common/frame/layui/layui.js"></script>
<script type="text/javascript" src="__PUBLIC__/common/js/jquery-3.2.0.min.js"></script>

<script>
    layui.use(['layer', 'form'], function(){
        var layer = layui.layer
            ,form = layui.form;

        $(".del").on("click", function(){
            var id = $(this).attr('data-id');
            that = this;
            $.ajax({
                type: "post",
                url: $(this).attr('data-href'),
                data: {id: id},
                dataType: "json",
                success: function(data){
                    if (data.status > 0) {
                        $(that).parent().remove();
                    }
					layer.msg(data.msg);
                }
            });
        });
        $(".add").on("click", function(){
            var parent_id = $(this).attr('data-id');
            var name = '测试';
            that = this;
            $.ajax({
                type: "post",
                url: $(this).attr('data-href'),
                data: {parent_id:parent_id, name:name},
                dataType: "json",
                success: function(data){
                    if (data.status < 0) {
                        layer.msg(data.msg);
                    }else {
                        layer.msg(data.msg);
                        $(that).parent().append();
                    }
                }
            });
        });

        $(".edit").on("click", function(){
            var id = $(this).attr('data-id');
            var name = '贵阳市';
            that = this;
            $.ajax({
                type: "post",
                url: $(this).attr('data-href'),
                data: {id:id, name:name},
                dataType: "json",
                success: function(data){
                    if (data.status < 0) {

                    }else {
                        $(that).parent().append('');
                    }
                }
            });
        });
    });
</script>
</body>
</html>