{$layUI}
<script>
    layui.use('form', function() {
    });
</script>
<style>
    div{
        margin-top:20px;
    }
</style>
<form class="layui-form layui-form-pane" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-inline">
            <input name="username" value="{$data.username}" lay-verify="required" placeholder="姓名" class="layui-input" type="text">
        </div>
        <input type="hidden" name="id" value="{$data.id}">
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-inline">
            <input name="password" value="{$data.password}" lay-verify="required" placeholder="密码" class="layui-input" type="password">
        </div>
    </div>
</form>