	<!-- 左侧导航 -->
	<div class="layui-side larrycms-left" id="larry-side">
		 <div class="layui-side-scroll" >
              <!-- 管理员信息      -->
                <a class="" href="index.html">
             <div class="user-info">
                   <div class="photo">
                       <img src="__PUBLIC__/home/images/user.jpg" alt="">
                   </div>
                   <p>admin您好！欢迎登录</p>
              </div>
              </a>
              <!-- 系统菜单 -->
              <div class="sys-menu-box" >
                   <ul class="layui-nav layui-nav-tree" id="larrySideNav" lay-filter="side" >
                       
                   </ul>
              </div>
         </div>
	</div>